<div class="col mb-4">
    <div class="card">
        <div class="card-header">
            <div class="row" [hidden]="edit">
                <div class="col-md-2">
                    <a
                        class="badge badge-pill badge-secondary"
                        href="#collapseTasks{{listId}}"
                        (click)="getTasks(); collapsed = !collapsed"
                        data-toggle="collapse"
                        role="button"
                        aria-expanded="false"
                        aria-controls="collapseListInfo"
                    >
                        <i class="fa" [ngClass]="{'fa-caret-up': collapsed, 'fa-caret-down': !collapsed}"></i>
                    </a>
                </div>
                <div class="col-md-10">
                    <span class="title-list" (click)="edit = !edit; f.controls.name.setValue(list.name)">{{list.name}}</span>
                </div>
            </div>
            <div class="row" [hidden]="!edit">
                <div class="col-md-1">
                    <a
                        class="badge badge-pill badge-secondary"
                        href="#collapseTasks{{listId}}"
                        (click)="getTasks(); collapsed = !collapsed"
                        data-toggle="collapse"
                        role="button"
                        aria-expanded="false"
                        aria-controls="collapseListInfo"
                    >
                        <i class="fa" [ngClass]="{'fa-caret-up': collapsed, 'fa-caret-down': !collapsed}"></i>
                    </a>
                </div>
                <div class="col-md-11">
                    <form #f="ngForm">
                        <div class="input-group">
                            <input type="text" name="name" id="name" class="form-control" ngModel #name="ngModel">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-success">
                                    <i class="fa fa-check"></i>
                                </button>
                            </div>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-danger" (click)="edit = !edit; f.controls.name.reset()">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="collapse" id="collapseTasks{{listId}}">
            <ul class="list-group list-group-flush">
                <app-task
                    *ngFor="let task of tasks"
                    [task]="task"
                    [taskStatus]="taskStatus"
                    [taskId]="task.id"
                    [listId]="listId"
                    (getTasks)="getTasks()"
                ></app-task>
                <app-task-new [listId]="listId" (getTasks)="getTasks()"></app-task-new>
            </ul>
        </div>
    </div>
</div>
