<header class="masthead mb-auto">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand">Minhas listas</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <form class="form-inline my-2 my-lg-0">
          </form>
        </div>
    </nav>
</header>
<main role="main" class="container">
    <div class="row mt-5">
        <div class="col-md-12 mb-5">
            <div class="card">
                <app-list-new (listChanged)="listChangedHandler($event)"></app-list-new>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row row-cols-1 row-cols-md-2">
                <app-list *ngFor="let list of lists" [list]="list" [listId]="list.id"></app-list>
            </div>
        </div>    
    </div>
</main>
